<!-- *  * Copyright (c) [year] [copyright holder's name]
 *
 * This file is licensed under the GNU General Public License (GPL) version 3.
 * You can obtain a copy of the license at https://www.gnu.org/licenses/gpl-3.0.html#license-text. */
  -->

<header class="header">
  <nav class="navbar" role="navigation" aria-label="dropdown navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">Welcome to GIS-Manager 1.0</a>
    </div>
  </nav>
</header>