<!-- *  * Copyright (c) [year] [copyright holder's name]
 *
 * This file is licensed under the GNU General Public License (GPL) version 3.
 * You can obtain a copy of the license at https://www.gnu.org/licenses/gpl-3.0.html#license-text. */
  -->
<%- include('./layouts/head'); -%>

  <body>

    <%- include('./layouts/header_login'); -%>

  <body>
    <a  style="display: flex; margin-top: 10%; margin-left: 35%;" href="/">Oohoh Page not found, take me to login page !</a>
  </body>
  
  <%- include('./layouts/footer'); -%>



</html>
