<!-- *  * Copyright (c) [year] [copyright holder's name]
 *
 * This file is licensed under the GNU General Public License (GPL) version 3.
 * You can obtain a copy of the license at https://www.gnu.org/licenses/gpl-3.0.html#license-text. */
  -->

<%- include('./layouts/head'); -%>

  <body>

    <%- include('./layouts/header'); -%>

      <body>
        <div class="container" style="margin-top: 5%;">
          <section class="section">
            <div class="columns is-centered">

              <div class="column">
                <label class="subtitle" for="uploadForm">Upload your data</label>
                <br>
                <br>
                <form id="uploadForm" action="/api/geodata" method="post" enctype="multipart/form-data">
                  <input class="input" type="file" name="file"
                    accept=".qgz, .qgs, .jpg, .jpeg, .png, .cpg, .dbf, .prj, .qmd, .shx,.gpkg, .shp, .json, .geotif, .tiff, .ecw, .kml, .kmz, .geojson"
                    multiple>
                  <br>
                  <div>
                    <button class="button-min" type="submit">Upload</button>
                  </div>
                </form>
              </div>
            </div>
          </section>
          <section class="section">
            <div class="columns">
              <div class="column">
                <h2 class="subtitle">This is your geodata</h2>
                <div>
                  <ul id="fileList"></ul>
                </div>
              </div>
            </div>
        </div>
        </section>

        <script>
          const uploadForm = document.getElementById('uploadForm');
          const fileInput = document.querySelector('input[type="file"]');

          fileInput.addEventListener('change', (event) => {
            const selectedFiles = event.target.files;
            const allowedFormats = ['.jpg', ' .jpeg', '.png', '.cpg', '.cpg', '.cpg', '.dbf', '.prj', '.qmd', '.shx', '.gpkg', '.shp', '.json', '.geotif', '.tiff', '.ecw', '.kml', '.kmz', '.geojson'];
            const unsupportedFiles = [];

            for (let i = 0; i < selectedFiles.length; i++) {
              const fileExtension = selectedFiles[i].name.split('.').pop().toLowerCase();
              if (!allowedFormats.includes(`.${fileExtension}`)) {
                unsupportedFiles.push(selectedFiles[i].name);
              }
            }

            if (unsupportedFiles.length > 0) {
              event.target.value = ''; // Clear the file input
              alert(`Only geodata can be uploaded, and this is something else: ${unsupportedFiles.join(', ')}`);
            }
          });


        </script>
      </body>


      <script src="./script_data.js"></script>
      <%- include('./layouts/footer'); -%>

      </html>